# verify-helper
./.verify-helper/
!./.verify-helper/config.toml
!./.verify-helper/list_dependencies.py
site/

# for make docs
.mkdocs/tmp.json
.mkdocs/benchmark.json

# Mojo
.magic/
magic.lock

# Python
__pycache__

# Others
.vscode/
*.out
